doctype html 
    html(lang = "ko")
        head
            title #{pageTitle} | EasyAju 
            link(rel="stylesheet" href="https://unpkg.com/mvp.css")

        body 
            header 
                h1=pageTitle 
            block header
            block content 
        include partials/footer